html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

p, li, ul{
 font-size: 1em;
}
h1{
 font-size: 2.5em; 
}
h2{
 font-size: 2.0em;
}
h3{
 font-size: 1.75em;
}
h4{
 font-size: 1.5em;
}

.owner-quote{
    font-style: italic;
    margin: 1.5em 1em;
    padding: 1em;
    border-left: 2px solid #193966;
    color: #424242;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}


.btn-square {
  border-radius: 0px;
}

.contact-right {
    text-align: right;
}

.contact-form label {
	font-weight: 400;
}


.nav-item .nav-link .nc-icon {
	display: inline-block;
	font: normal normal normal 20px/1 'nucleo-icons';
	font-size: 1.5em;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.services-list {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 5px;
  font-weight: 400;
  color: #424242;
  }
  
 /* CSS, Flex for Divisions */
 .divisions-thumb{
     display: inline;
     width: 100%;
     
 }
 
 .division-img-label{
    text-align: center;
    font-size: 1.5em;
 }
 
 .division-img-description{
    text-align: center;
    font-size: 1.2em;   
 }
 
 .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px;
  }
  

  .flex-container > div{
    background: #d7e4f5;
    border-radius: 5px;
    padding: 8px;
  }
  
  .flex-item{
      width: 30%;
  }
 
  
  /* Division Flex Ends */


.project-title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #FFFFFF 35%, #2c63b1 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 35%, #2c63b1 100%);
  background: -ms-linear-gradient(top, #FFFFFF 35%, #2c63b1 100%);
  background: linear-gradient(to bottom, #FFFFFF 35%, #2c63b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}


/* Buttons EE */

.btn-ee-blue {
  background-color: #2c63b1;
  border-color: #2c63b1;
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-ee-blue:hover,
.btn-ee-blue:focus,
.btn-ee-blue:active,
.btn-ee-blue.active,
.btn-ee-blue:active:focus,
.btn-ee-blue:active:hover,
.btn-ee-blue.active:focus,
.btn-ee-blue:not(:disabled):not(.disabled):active:focus,
.btn-ee-blue:not(:disabled):not(.disabled):active,
.btn-ee-blue:not(:disabled):not(.disabled).active,
.btn-ee-blue:not(:disabled):not(.disabled).active:focus,
.show>.btn-ee-blue.dropdown-toggle {
  background-color: #193966;
  color: #FFFFFF;
  border-color: #193966;
  box-shadow: none;
}

.btn-ee-blue .caret {
  border-top-color: #FFFFFF;
}

.btn-ee-blue.disabled,
.btn-ee-blue.disabled:hover,
.btn-ee-blue.disabled:focus,
.btn-ee-blue.disabled.focus,
.btn-ee-blue.disabled:active,
.btn-ee-blue.disabled.active,
.btn-ee-blue:disabled,
.btn-ee-blue:disabled:hover,
.btn-ee-blue:disabled:focus,
.btn-ee-blue:disabled.focus,
.btn-ee-blue:disabled:active,
.btn-ee-blue:disabled.active,
.btn-ee-blue[disabled],
.btn-ee-blue[disabled]:hover,
.btn-ee-blue[disabled]:focus,
.btn-ee-blue[disabled].focus,
.btn-ee-blue[disabled]:active,
.btn-ee-blue[disabled].active,
fieldset[disabled] .btn-ee-blue,
fieldset[disabled] .btn-ee-blue:hover,
fieldset[disabled] .btn-ee-blue:focus,
fieldset[disabled] .btn-ee-blue.focus,
fieldset[disabled] .btn-ee-blue:active,
fieldset[disabled] .btn-ee-blue.active {
  background-color: #193966;
  border-color: #193966;
}

.btn-ee-blue.btn-link {
  color: #2c63b1;
}

.btn-ee-blue.btn-link:hover,
.btn-ee-blue.btn-link:focus,
.btn-ee-blue.btn-link:active,
.btn-ee-blue.btn-link.active,
.btn-ee-blue.btn-link:focus:active,
.open>.btn-ee-blue.btn-link.dropdown-toggle {
  background-color: transparent !important;
  color: #193966 !important;
}

.btn-ee-blue.btn-link .caret {
  border-top-color: #2c63b1;
}

.btn-ee-blue .caret {
  border-top-color: #FFFFFF;
}


/* BTN Green outline */
.btn-outline-ee-green {
  border-color: #5ebe5a;
  color: #5ebe5a;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-outline-ee-green:hover,
.btn-outline-ee-green:focus,
.btn-outline-ee-green:active,
.btn-outline-ee-green.active,
.btn-outline-ee-green:active:focus,
.btn-outline-ee-green:active:hover,
.btn-outline-ee-green.active:focus,
.show>.btn-outline-ee-green.dropdown-toggle {
  background-color: #099762 !important;
  color: rgba(255, 255, 255, 0.8);
  border-color: #099762 !important;
}

.btn-outline-ee-green:hover .caret,
.btn-outline-ee-green:focus .caret,
.btn-outline-ee-green:active .caret,
.btn-outline-ee-green.active .caret,
.btn-outline-ee-green:active:focus .caret,
.btn-outline-ee-green:active:hover .caret,
.btn-outline-ee-green.active:focus .caret,
.show>.btn-outline-ee-green.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.btn-outline-ee-green .caret {
  border-top-color: #FFFFFF;
}

.btn-outline-ee-green.disabled,
.btn-outline-ee-green.disabled:hover,
.btn-outline-ee-green.disabled:focus,
.btn-outline-ee-green.disabled.focus,
.btn-outline-ee-green.disabled:active,
.btn-outline-ee-green.disabled.active,
.btn-outline-ee-green:disabled,
.btn-outline-ee-green:disabled:hover,
.btn-outline-ee-green:disabled:focus,
.btn-outline-ee-green:disabled.focus,
.btn-outline-ee-green:disabled:active,
.btn-outline-ee-green:disabled.active,
.btn-outline-ee-green[disabled],
.btn-outline-ee-green[disabled]:hover,
.btn-outline-ee-green[disabled]:focus,
.btn-outline-ee-green[disabled].focus,
.btn-outline-ee-green[disabled]:active,
.btn-outline-ee-green[disabled].active,
fieldset[disabled] .btn-outline-ee-green,
fieldset[disabled] .btn-outline-ee-green:hover,
fieldset[disabled] .btn-outline-ee-green:focus,
fieldset[disabled] .btn-outline-ee-green.focus,
fieldset[disabled] .btn-outline-ee-green:active,
fieldset[disabled] .btn-outline-ee-green.active {
  background-color: transparent;
  border-color: #099762;
}

/* BTN Green  */
.btn-solid-ee-green {
  border-color: #5ebe5a;
  color: #5ebe5a;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-solid-ee-green:hover,
.btn-solid-ee-green:focus,
.btn-solid-ee-green:active,
.btn-solid-ee-green.active,
.btn-solid-ee-green:active:focus,
.btn-solid-ee-green:active:hover,
.btn-solid-ee-green.active:focus,
.show>.btn-solid-ee-green.dropdown-toggle {
  background-color: #099762 !important;
  color: rgba(255, 255, 255, 0.8);
  border-color: #099762 !important;
}

.btn-solid-ee-green:hover .caret,
.btn-solid-ee-green:focus .caret,
.btn-solid-ee-green:active .caret,
.btn-solid-ee-green.active .caret,
.btn-solid-ee-green:active:focus .caret,
.btn-solid-ee-green:active:hover .caret,
.btn-solid-ee-green.active:focus .caret,
.show>.btn-solid-ee-green.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.btn-solid-ee-green .caret {
  border-top-color: #FFFFFF;
}

.btn-solid-ee-green.disabled,
.btn-solid-ee-green.disabled:hover,
.btn-solid-ee-green.disabled:focus,
.btn-solid-ee-green.disabled.focus,
.btn-solid-ee-green.disabled:active,
.btn-solid-ee-green.disabled.active,
.btn-solid-ee-green:disabled,
.btn-solid-ee-green:disabled:hover,
.btn-solid-ee-green:disabled:focus,
.btn-solid-ee-green:disabled.focus,
.btn-solid-ee-green:disabled:active,
.btn-solid-ee-green:disabled.active,
.btn-solid-ee-green[disabled],
.btn-solid-ee-green[disabled]:hover,
.btn-solid-ee-green[disabled]:focus,
.btn-solid-ee-green[disabled].focus,
.btn-solid-ee-green[disabled]:active,
.btn-solid-ee-green[disabled].active,
fieldset[disabled] .btn-solid-ee-green,
fieldset[disabled] .btn-solid-ee-green:hover,
fieldset[disabled] .btn-solid-ee-green:focus,
fieldset[disabled] .btn-solid-ee-green.focus,
fieldset[disabled] .btn-solid-ee-green:active,
fieldset[disabled] .btn-solid-ee-green.active {
  background-color: #5ebe5a;
  border-color: #099762;
}

/* BTN Link GREEN */

.btn .btn-link-green {
  background-color: #5ebe5a;
}



/* Sections EE */

.section{
  padding: 3em 0;

}

.page-header{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; margin: 0;
  background-image: url(../../assets/img/banners/hero.png);
  max-height: 896px;
  
}

.page-header.section-ee-dark .content-center,
.page-header.section-ee-dark .category-absolute {
  z-index: 1;
}

.section-ee-dark .title,
.section-ee-dark .info-title,
.section-ee-dark .card-plain .card-title {
  color: #FFFFFF !important;
}

.section-ee-dark {
  
  background-color: #193966;
  
}

.section-ee-dark .icons-container {
  color: #FFFFFF;
}

.section-ee-dark .category,
.section-ee-dark .description,
.section-ee-dark .card-plain .card-description,
.section-ee-dark .card-plain .card-category {
  color: rgba(255, 255, 255, 0.7);
}

.section-ee-dark hr {
  border-color: rgba(255, 255, 255, 0.19);
}

/* SEction EE Geen */

.page-header.section-ee-green .content-center,
.page-header.section-ee-green .category-absolute {
  z-index: 1;
}

.section-ee-green .title,
.section-ee-green .info-title,
.section-ee-green .card-plain .card-title {
  color: #FFFFFF !important;
}

.section-ee-green {
  background-color: #099762;
}

.section-ee-green .icons-container {
  color: #FFFFFF;
}

.section-ee-green .category,
.section-ee-green .description,
.section-ee-green .card-plain .card-description,
.section-ee-green .card-plain .card-category {
  color: rgba(255, 255, 255, 0.7);
}

.section-ee-green hr {
  border-color: rgba(255, 255, 255, 0.19);
}


/* Carousel */

.carousel-caption {
	position: absolute;
	right: 0% !important;
	bottom: 0px;
	left: 0% !important;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}


/* NavBar EE */

.hide{display: none !important;}
.show{display: block;}

.nav-logo-big {
  width: 100%;
  height: 74px;
  max-width: 30vw;
  background-image: url("../img/logo/logo_main.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-logo-sm {
    width: 165px;
    height: 40px;
    max-width: 100%;
    background-image: url("../img/logo/logo_main_sm.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Landing page */

.presentation-title {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: left;
    background: unset !important;
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: unset !important;
    
}

.presentation-subtitle {
    margin-top: 3em;
    font-size: 2em;
    line-height: 150%;
    font-weight: 400;
    padding: 0;
    color: #FFFFFF;
    text-align: left !important;
    
}

/*
.navbar.navbar-transparent {
    background: #ffffff47 !important;
    box-shadow: none;
}
*/ 

/* Project Tabs */

 .tab-pane span {
  width: 100%;
	font-size: 16px;
	line-height: 1.5em;
    font-weight: bold;
}

/* Project Modal */
.project-details span {
  width: 100%;
	font-size: 16px;
	line-height: 1.5em;
}

.project-details label {
  font-weight: bold;

}

.project-gallery {
  /* width: 60%; */
}

.project-img {
	padding: 10px;
	background-color: #EBEBEB;
	margin: 10px 0;
}

.project-img img {
    border: 1px solid #EBEBEB;
}



/* Media managed */

@media only screen and (max-width: 768px){
    
  .flex-item{
      width: 100%;
  }

  .presentation-title {
    font-size: 5em;
  }

  .project-title {
      font-size:1.2em;
  }

  .nav-logo-big {
    height: 100%;
  }

  .contact-right {
    text-align: left;
    }

  .services-list {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 5px;
  font-weight: 400;
  }

  .modal-body {
	padding: 20px 20px;
	color: #000;
    }
}


/* Navigation */

.footer nav > ul a:hover {
	color: #FFF !important;
}

.footer nav > ul a {
	color: #FFF !important;
    font-size: 21px !important;
}

.nav-item .nav-link {
    font-weight: 400;
}

.nav-tabs .nav-item .nav-link.active::after, .nav-tabs .nav-item .nav-link.active:hover::after, .nav-tabs .nav-item .nav-link.active:focus::after {
	border-bottom: 11px solid #193966;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	content: "";
	display: inline-block;
	position: absolute;
	right: 40%;
	bottom: 5px;
}

.nav-tabs .nav-item .nav-link.active {
	color: #FFF;
    font-weight: bold;
}

.tab-content {
    color: #fff;
}

.tab-content .img-fluid {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 846px){
    
    .flex-item{
      width: 100%;
   }


    .tab-content .img-fluid {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

    .nav-tabs {
        display: block;
    }

    .nav-tabs .nav-link {
        padding-bottom: 0;
        padding-top: 0;
    }

    .nav-tabs .nav-item .nav-link.active::after, .nav-tabs .nav-item .nav-link.active:hover::after, .nav-tabs .nav-item .nav-link.active:focus::after {
	border-bottom: 0px solid #193966;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	content: "";
	display: none;
	position: absolute;
	right: 40%;
	bottom: 5px;
    }

    .nav-tabs-navigation .nav > .nav-item > .nav-link {
	padding-bottom: 0.25em;
    }

    .nav-tabs .nav-item .nav-link.active::before, .nav-tabs .nav-item .nav-link.active:hover::before, .nav-tabs .nav-item .nav-link.active:focus::before {
	border-bottom: 11px solid #F1EAE0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	content: "";
	display: none;
	position: absolute;
	right: 40%;
	bottom: 6px;
    }

  /* Testimonials */

  #testimonials-carousel{
    min-height: 300px;
  }

}


@media only screen and (max-width: 768px){
    
    .flex-item{
      width: 100%;
   }


    .tab-content .img-fluid {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

    .nav-tabs {
        display: block;
    }

    .nav-tabs .nav-link {
        padding-bottom: 0;
        padding-top: 0;
    }

    .nav-tabs .nav-item .nav-link.active::after, .nav-tabs .nav-item .nav-link.active:hover::after, .nav-tabs .nav-item .nav-link.active:focus::after {
	border-bottom: 0px solid #193966;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	content: "";
	display: none;
	position: absolute;
	right: 40%;
	bottom: 5px;
    }

    .nav-tabs-navigation .nav > .nav-item > .nav-link {
	padding-bottom: 0.25em;
    }

    .nav-tabs .nav-item .nav-link.active::before, .nav-tabs .nav-item .nav-link.active:hover::before, .nav-tabs .nav-item .nav-link.active:focus::before {
	border-bottom: 11px solid #F1EAE0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	content: "";
	display: none;
	position: absolute;
	right: 40%;
	bottom: 6px;
    }

  /* Testimonials */

  #testimonials-carousel{
    min-height: 300px;
  }

}

    /* Inactive Nav links */
    .nav-tabs .nav-item .nav-link {
	border: 0 none;
	color: #5ebe5a;
	background-color: transparent;
    }

    .nav-tabs .nav-item .nav-link:hover {
	color: #5ebe5a;
    font-weight: bold;
    }


/* Testimonials */

#testimonials-carousel{
  min-height: 300px;
}

#testimonials-carousel .carousel-inner .carousel-item .img-box{
width: 135px;
height: 135px;
}

#testimonials-carousel .carousel-control-prev{
left: -100px;
}

#testimonials-carousel .carousel-control-next{
right: -100px;
}

#testimonials-carousel .carousel-indicators{
top: 320px;
}

@media (max-width: 640px) and (orientation: landscape) {
    
    .flex-item{
      width: 100%;
  }


    #testimonials-carousel .carousel-control-prev{
		left: -60px;
	}
	#testimonials-carousel .carousel-control-next{
		right: -60px;
	}
}

@media (min-width: 320px) and (orientation: portrait)  { /*and (max-width: 640px)*/

.flex-item{
      width: 100%;
  }

	#testimonials-carousel .carousel-inner .carousel-item p{
		font-size: 14px;
	}
	#testimonials-carousel .carousel-control-prev{
		left: -40px;
	}
	#testimonials-carousel .carousel-control-next{
		right: -31px;
	}
 	#testimonials-carousel .carousel-indicators{
		top: 400px;
	}

  #testimonials-carousel {
	min-height: 300px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
  }
}

/* Memberships */

#memberships-carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23099762' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}


#memberships-carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23099762' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

/* Brands */

#brands-carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23193966' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
    display:none;
}


#brands-carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23193966' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
    display:none;
}

@media (min-width: 320px) and (max-width: 640px) {
  #brands2, #brands3 {
    display:none;
  }
  
  .flex-item{
      width: 100%;
  }
}


/* Services List */
.info-icon-green {
    color:#099762;
}
.info-icon-blue {
    color:#193966;
}

.copyright{
    font-size: small;
    color: white;
}
